@use '../abstracts/' as *;

.find-more__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px;

  .find-more__article-card:not(.find-more__article-card--large) {
    grid-column: 1;
    display: flex;
    gap: 30px;
  }

  .find-more__article-card--large {
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .find-more__article-card:not(.find-more__article-card--large) .find-more__article-img {
    width: 200px;
    height: 144px;
    border-radius: 16px;
    z-index: 3;
  }

  .find-more__article-card--large .find-more__article-img {
    width: 560px;
    height: 280px;
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  .find-more__article-content {
    .find-more__article-author {
      display: flex;
      align-items: center;
      gap: 16px;

      &--img {
        @include avatar(32px);
        box-shadow: $box-shadow-light;
      }

      &--name {
        @include description(14px, 22px, $neutral-800);
        flex: 1 0 0;
      }
    }

    .find-more__article-title {
      @include heading-title(18px, 500, 32px);
      align-self: stretch;
      cursor: pointer;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .find-more__article-author-title--text {
      @include description(14px, 24px);
      align-self: stretch;
    }

    .find-more__article-time {
      display: flex;
      gap: 12px;

      &--text {
        @include description(14px, 24px, $neutral-500);
        flex: 1 0 0;
      }

      &--icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .find-more__articles {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .find-more__article-card:not(.find-more__article-card--large) {
      display: flex;
      gap: 20px;
    }

    .find-more__article-card--large {
    }

    .find-more__article-card:not(.find-more__article-card--large) .find-more__article-img {
      width: 50%;
      height: 137px;
      border-radius: 16px;
      z-index: 3;
    }

    .find-more__article-card--large .find-more__article-img {
      width: 100%;
      height: 262px;
      flex-shrink: 0;
      margin-bottom: 32px;
    }

    .find-more__article-content {
      .find-more__article-author {
        display: flex;
        gap: 16px;

        &--img {
          @include avatar(32px);
        }

        &--name {
          @include description(14px, 22px, $neutral-800);
        }
      }

      .find-more__article-title {
        @include heading-title(15px, 500, 32px);
      }

      .find-more__article-author-title--text {
        @include description(13px, 24px);
      }

      .find-more__article-time {
        display: flex;
        gap: 12px;

        &--text {
          @include description(12px, 24px, $neutral-500);
          flex: 1 0 0;
        }
      }
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .find-more__articles {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .find-more__article-card:not(.find-more__article-card--large) {
      display: flex;
    }

    .find-more__article-card--large {
    }

    .find-more__article-card:not(.find-more__article-card--large) .find-more__article-img {
      width: 364px;
      height: 137px;
      border-radius: 16px;
      z-index: 3;
    }

    .find-more__article-card--large .find-more__article-img {
      width: 80%;
      height: 262px;
      flex-shrink: 0;
      margin-bottom: 32px;
    }

    .find-more__article-content {
      .find-more__article-author {
        display: flex;
        gap: 16px;

        &--img {
          @include avatar(32px);
        }

        &--name {
          @include description(14px, 22px, $neutral-800);
        }
      }

      .find-more__article-title {
        @include heading-title(15px, 500, 32px);
      }

      .find-more__article-author-title--text {
        @include description(13px, 24px);
      }

      .find-more__article-time {
        display: flex;
        gap: 12px;

        &--text {
          @include description(12px, 24px, $neutral-500);
          flex: 1 0 0;
        }
      }
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .find-more__articles {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .find-more__article-card:not(.find-more__article-card--large) {
      display: flex;
    }

    .find-more__article-card--large {
    }

    .find-more__article-card:not(.find-more__article-card--large) .find-more__article-img {
      width: 285px;
      height: 144px;
      border-radius: 16px;
      z-index: 3;
    }

    .find-more__article-card--large .find-more__article-img {
      width: 563px;
      height: 262px;
      flex-shrink: 0;
      margin-bottom: 32px;
    }

    .find-more__article-content {
      .find-more__article-author {
        display: flex;
        gap: 16px;

        &--img {
          @include avatar(32px);
        }

        &--name {
          @include description(14px, 22px, $neutral-800);
        }
      }

      .find-more__article-title {
        @include heading-title(15px, 500, 32px);
      }

      .find-more__article-author-title--text {
        @include description(13px, 24px);
      }

      .find-more__article-time {
        display: flex;
        gap: 12px;

        &--text {
          @include description(12px, 24px, $neutral-500);
          flex: 1 0 0;
        }
      }
    }
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .find-more__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .find-more__article-card:not(.find-more__article-card--large) {
      grid-column: 1;
      display: flex;
    }

    .find-more__article-card--large {
      grid-column: 2;
      grid-row: 1 / span 3;
    }

    .find-more__article-card:not(.find-more__article-card--large) .find-more__article-img {
      width: 285px;
      height: 144px;
      border-radius: 16px;
      z-index: 3;
    }

    .find-more__article-card--large .find-more__article-img {
      width: 478px;
      height: 250px;
      flex-shrink: 0;
      margin-bottom: 32px;
    }

    .find-more__article-content {
      .find-more__article-author {
        display: flex;
        gap: 16px;

        &--img {
          @include avatar(32px);
        }

        &--name {
          @include description(14px, 22px, $neutral-800);
        }
      }

      .find-more__article-title {
        @include heading-title(15px, 500, 32px);
      }

      .find-more__article-author-title--text {
        @include description(13px, 24px);
      }

      .find-more__article-time {
        display: flex;
        gap: 12px;

        &--text {
          @include description(12px, 24px, $neutral-500);
          flex: 1 0 0;
        }
      }
    }
  }
}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
}