@use "../abstracts/" as *;

.featured-house {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
  }

  &__card {
    position: relative;
    width: 100%;
    max-width: 340px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: $box-shadow-card;
    cursor: pointer;
    transition: $transition-default;
    &:hover {
      transform: scale(0.95);
    }
  }

  &__card-image {
    width: 100%;
    aspect-ratio: 340 / 382;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }

  &__label {
    position: absolute;
    bottom: 10%;
    left: 16px;
    padding: 8px 16px;
    border-radius: $border-radius-sm;
    @include see-link($red-500, 500);
    align-items: flex-start;
    gap: 10px;

    &--popular {
      background: $red-100;
    }

    &--new {
      background: $blue-100;
      @include see-link($blue-700, 500);
    }

    &--best-deals {
      background: $green-100;
      @include see-link($green-700, 500);
    }
  }

  &__content {
    padding: 15px;
    background-color: $white;
  }

  &__card-title {
    @include heading-title(24px, 500, 32px, $neutral-900);
  }

  &__price {
    @include description(20px, 32px, $neutral-700);
    font-weight: 500;
  }

  &__seller {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    img {
      @include avatar(40px);
      position: relative;
      z-index: 1;
    }
  }

  &__seller-avatar {
    @include avatar(40px);
  }

  &__seller-name {
    @include heading-title(18px, 500, 24px, $neutral-900);
  }

  &__seller-location {
    @include description(14px, 22px, $neutral-500);
    font-weight: 500;
  }
}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
  .featured-house__card {
    flex: 1 1 calc(25% - 30px);
  }

  .featured-house__card-image {
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .featured-house {
    &__card-image {
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }

    &__cards {
    }

    &__card {
      flex: 1 1 calc(33.33% - 30px);
    }

    &__card-title {
      @include heading-title(20px, 500, 32px, $neutral-900);
    }

    &__price {
      @include description(17px, 32px, $neutral-700);
      font-weight: 500;
    }

    &__seller-avatar {
      @include avatar(36px);
    }

    &__seller-name {
      @include heading-title(16px, 500, 20px, $neutral-900);
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .featured-house {
    &__card {
      flex: 1 1 calc(50% - 30px);
    }

    &__card-image {
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }

    &__card-title {
      @include heading-title(20px, 500, 32px, $neutral-900);
    }

    &__price {
      @include description(17px, 32px, $neutral-700);
      font-weight: 500;
    }

    &__seller-avatar {
      @include avatar(36px);
    }

    &__seller-name {
      @include heading-title(16px, 500, 20px, $neutral-900);
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .featured-house {
    &__card {
      flex: 1 1 calc(50% - 20px);
    }

    &__card-image {
    }

    &__card-title {
      @include heading-title(20px, 500, 32px, $neutral-900);
    }

    &__price {
      @include description(17px, 32px, $neutral-700);
      font-weight: 500;
    }

    &__seller-avatar {
      @include avatar(36px);
    }

    &__seller-name {
      @include heading-title(16px, 500, 20px, $neutral-900);
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .featured-house {
    &__card {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &__card-image {
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }

    &__card-title {
      @include heading-title(20px, 500, 32px, $neutral-900);
    }

    &__price {
      @include description(17px, 32px, $neutral-700);
      font-weight: 500;
    }

    &__seller-avatar {
      @include avatar(36px);
    }

    &__seller-name {
      @include heading-title(16px, 500, 20px, $neutral-900);
    }
  }
}