@use "../abstracts/" as *;

.featured-house {
  &__cards {
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 10px;
  }

  &__card {
    position: relative;
    // min-width: 340px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: $box-shadow-card;
    cursor: pointer;
    transition: $transition-default;
    &:hover {
      transform: scale(0.95);
    }
  }

  &__card-image {
    width: 340px;
    height: 382px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }

  &__label {
    position: absolute;
    bottom: 160px;
    left: 16px;
    padding: 8px 16px;
    border-radius: $border-radius-sm;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    align-items: flex-start;
    gap: 10px;

    &--popular {
      background: $red-100;
      color: $red-500;
    }

    &--new {
      background: $blue-100;
      color: $blue-700;
    }

    &--best-deals {
      background: $green-100;
      color: $green-700;
    }
  }

  &__content {
    padding: 15px;
    background-color: $white;
  }

  &__card-title {
    color: $neutral-900;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  &__price {
    color: $neutral-700;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }

  &__seller {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }

  &__seller-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__seller-name {
    color: $neutral-900;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  &__seller-location {
    color: $neutral-500;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
  .featured-house__cards{
     gap: 30px;
  }
  .featured-house__card-image {
    max-width: 310px;
    height: 340px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .featured-house {
    &__card-image {
      max-width: 310px;
      height: 340px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }
    &__cards {
      gap: 65px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }

    &__card-title {
      font-size: 20px;
      line-height: 32px;
    }

    &__price {
      font-size: 17px;
      line-height: 32px;
    }

    &__seller-avatar {
      width: 36px;
      height: 36px;
    }

    &__seller-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .featured-house {
    &__cards {
      gap: 45px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    &__card-image {
      max-width: 310px;
      height: 340px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }

    &__card-title {
      font-size: 20px;
      line-height: 32px;
    }

    &__price {
      font-size: 17px;
      line-height: 32px;
    }

    &__seller-avatar {
      width: 36px;
      height: 36px;
    }

    &__seller-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .featured-house {
    &__cards {
      gap: 20px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }

    &__card-image {
      max-width: 340px;
      height: 380px;
     
    }


    &__card-title {
      font-size: 20px;
      line-height: 32px;
    }

    &__price {
      font-size: 17px;
      line-height: 32px;
    }

    &__seller-avatar {
      width: 36px;
      height: 36px;
    }

    &__seller-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .featured-house {
    &__cards {
      gap: 20px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    &__card-image {
      max-width: 310px;
      height: 320px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }


    &__card-title {
      font-size: 20px;
      line-height: 32px;
    }

    &__price {
      font-size: 17px;
      line-height: 32px;
    }

    &__seller-avatar {
      width: 36px;
      height: 36px;
    }

    &__seller-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}
