@use '../abstracts/' as *;

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 7.5rem 0;
  top: 0;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    p {
      @include heading-title(1rem, 700, normal);
    }

    img {
      display: inline-block;
    }
  }

  .nav__logo--mobile {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.9375rem;

    li {
      padding: 0.5rem 1rem;
      border-radius: $border-radius-sm;
      border: 0.0625rem solid $neutral-300;
      background: rgba($white, 0.2);
      cursor: pointer;
      transition: $transition-default;

      &.nav__item--signup {
        @include button-default($secondary-color, 0.75rem 1.5rem);
      }

      &:hover,
      &.nav__item--signup:hover {
        background: darken($secondary-color, 10%);
      }

      a.nav__link {
        @include see-link($neutral-100, 600);
        text-decoration: none;
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .nav {
    padding: 32px;

    .nav__logo--mobile {
      display: inline-block;
      width: 20px;
      height: auto;
    }

    ul {
      display: none;
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    padding: 32px;

    .nav__logo--mobile {
      display: inline-block;
      width: 20px;
      height: auto;
    }

    ul {
      display: none;
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    padding: 32px;

    ul li {
      border: 0.0625rem solid black;

      a.nav__link {
        @include see-link(#333, 600);
      }
    }
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav {
    padding: 32px;
  }
}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
}