@use '../abstracts/' as *;

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 7.5rem 0;
  top: 0;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    p {
      color: $primary-color;
      font-family: $font-primary;
      font-size: 1rem;
      font-weight: 700;
      text-transform: capitalize;
    }
    img{
      display: inline-block;
    }
  }

  .nav__logo--mobile{
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.9375rem;

    li {
      padding: 0.5rem 1rem;
      border-radius: $border-radius-sm;
      border: 0.0625rem solid $neutral-300;
      background: rgba($white, 0.2);
      cursor: pointer;
      transition: $transition-default;

      &.nav__item--signup {
        background: $secondary-color;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
      }

      &:hover,
      &.nav__item--signup:hover {
        background: darken($secondary-color, 10%);
      }

      a.nav__link {
        color: $neutral-100;
        font-family: $font-primary;
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
 .nav{
    padding: 32px;
    .nav__logo--mobile{
      display:inline-block;
      width: 20px;
      height: auto;
    }
    ul{
      display: none;

    };
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav{
    padding: 32px;
    .nav__logo--mobile{
      display:inline-block;
      width: 20px;
      height: auto;
    }
    ul{
      display: none;
    };
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
   .nav{
    padding: 32px;
    ul li{
       border: 0.0625rem solid black;
        a.nav__link {
        color: #333;
      }
    }
   }
}


/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
   .nav{
    padding: 32px;
   }

}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
 
}
