@use "../abstracts/" as *;

.user-rw__reviews {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 20px 0;
  overflow: hidden;

  .user-rw__review-card {
    position: relative;
    width: 740px;
    height: 505px;
    border-radius: 16px;
    transition: $transition-default;
    &:hover {
      transform: scale(1.05);
    }

    .user-rw__review-img {
      width: 740px;
      height: 400px;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 16px;
    }

    .user-rw__review-content {
      position: absolute;
      bottom: 32px;
      z-index: 1;
      width: 612px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      border-radius: 16px;
      background: $white;
      box-shadow: $box-shadow-light;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden; /* Ngăn cuộn ngang trong content */

      .user-rw__review-header {
        color: $primary-color;
        font-family: $font-primary;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        margin: 0;
        word-break: break-word; /* Tự động xuống dòng */
      }

      .user-rw__review-text {
        color: $neutral-600;
        font-family: $font-primary;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        word-break: break-word; /* Tự động xuống dòng */
      }

      .user-rw-review-author {
        display: flex;
        align-items: center;

        .user-rw-review-author-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 24px;
        }

        .user-rw-review-author-info {
          flex: 1;
        }

        .user-rw-review-author-name {
          color: $neutral-900;
          font-family: $font-primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          margin: 0;
        }

        .user-rw-review-author-role {
          color: $neutral-900;
          font-family: $font-primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          margin: 0;
        }

        .user-rw-review-author-rating {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-left: 290px;

          img {
            width: 20px;
            height: 20px;
          }

          color: $neutral-800;
          font-family: $font-primary;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .user-rw__reviews {
    // justify-content: center;
    gap: 15px;
    padding: 15px 0;
    overflow: hidden;
    width: auto;

    .user-rw__review-card {
      width: 420px;
      height: 405px;
      .user-rw__review-img {
        width: 420px;
        height: 300px;
       
      }

      .user-rw__review-content {
        bottom: -10px;
        z-index: 1;
        width: 312px;
        padding: 20px;
        gap: 18px;
        .user-rw__review-header {
          font-size: 16px;
        }

        .user-rw__review-text {
         
          font-size: 12px;
        }

        .user-rw-review-author {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .user-rw-review-author-img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
          }

          .user-rw-review-author-info {
            flex: 1;
            width: 150px;
          }

          .user-rw-review-author-name {
            font-size: 12px;
            line-height: 18px;
          }

          .user-rw-review-author-role {
            font-size: 12px;
            line-height: 18px;
            
          }

          .user-rw-review-author-rating {
            margin-left: 10px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
   .user-rw__reviews {
    // justify-content: center;
    gap: 15px;
    padding: 15px 0;
    overflow: hidden;
    width: auto;

    .user-rw__review-card {
      width: 520px;
      height: 505px;
      .user-rw__review-img {
        width: 520px;
        height: 400px;
       
      }

      .user-rw__review-content {
        bottom: -10px;
        z-index: 1;
        width: 412px;
        padding: 20px;
        gap: 18px;
        .user-rw__review-header {
          font-size: 16px;
        }

        .user-rw__review-text {
         
          font-size: 12px;
        }

        .user-rw-review-author {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .user-rw-review-author-img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
          }

          .user-rw-review-author-info {
            flex: 1;
            width: 150px;
          }

          .user-rw-review-author-name {
            font-size: 12px;
            line-height: 18px;
          }

          .user-rw-review-author-role {
            font-size: 12px;
            line-height: 18px;
            
          }

          .user-rw-review-author-rating {
            margin-left: 10px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .user-rw__reviews {
    // justify-content: center;
    gap: 25px;
    padding: 15px 0;
    overflow: hidden;
    width: auto;

    .user-rw__review-card {
      width: 620px;
      height: 505px;
      .user-rw__review-img {
        width: 620px;
        height: 400px;
       
      }

      .user-rw__review-content {
        bottom: -10px;
        z-index: 1;
        width: 512px;
        padding: 20px;
        gap: 18px;
        .user-rw__review-header {
          font-size: 16px;
        }

        .user-rw__review-text {
         
          font-size: 12px;
        }

        .user-rw-review-author {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .user-rw-review-author-img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
          }

          .user-rw-review-author-info {
            flex: 1;
            width: 150px;
          }

          .user-rw-review-author-name {
            font-size: 12px;
            line-height: 18px;
          }

          .user-rw-review-author-role {
            font-size: 12px;
            line-height: 18px;
            
          }

          .user-rw-review-author-rating {
            margin-left: 10px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .user-rw__reviews {
    // justify-content: center;
    gap: 25px;
    padding: 15px 0;
    overflow: hidden;
    width: auto;

    .user-rw__review-card {
      width: 720px;
      height: 505px;
      .user-rw__review-img {
        width: 720px;
        height: 400px;
       
      }
    }
  }
}
