@use '../abstracts/' as *;

.stats {
  background: url('../assets/images/house-hero-section.png') center/cover no-repeat;
  border-bottom-left-radius: $border-radius-lg;
  width: 50%;
  height: 41rem;
  position: absolute;
  right: 0;
  z-index: 2;
  overflow: hidden;

  .stat-cards {
    position: absolute;
    bottom: 1.875rem;
    padding: 3rem;
    display: flex;
    gap: 1rem;

    .stat-card {
      display: flex;
      height: 6.5rem;
      align-items: center;
      padding: 1.5rem;
      background: $white;
      gap: 1rem;
      border-radius: $border-radius-sm;
      min-width: 12.5rem;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        transform: scale(0.95);
      }

      .avatars {
        display: flex;
        align-items: center;

        img {
          @include avatar(3.5rem);
          box-shadow: $box-shadow-light;

          &:nth-child(2),
          &:nth-child(3) {
            margin-left: -1.75rem;
          }
        }
      }

      .info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h4 {
          @include heading-title(1rem, 600, 1.5rem, $primary-color);
        }

        p {
          @include description(0.75rem, 1.25rem, $neutral-700);
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 575.98px) {
  .stats {
    position: relative;
    width: calc(100% - 40px);
    height: 30rem;
    margin: 20px;
    border-radius: $border-radius-lg;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .stats {
    position: relative;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: $border-radius-lg;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .stats {
    position: relative;
    width: calc(100% - 50px);
    margin: 25px;
    border-radius: $border-radius-lg;
  }
}
