@use '../abstracts/' as *;

.stats {
  background: url('../assets/images/house-hero-section.png') center/cover no-repeat;
  border-bottom-left-radius: $border-radius-lg;
  width: 50%;
  height: 41rem;
  position: absolute;
  right: 0;
  z-index: 2; 
  overflow: hidden;

  .stat-cards {
    position: absolute;
    bottom: 1.875rem;
    padding: 3rem;
    display: flex;
    gap: 1rem;

    .stat-card {
      display: flex;
      height: 6.5rem;
      align-items: center;
      padding: 1.5rem;
      background: $white;
      gap: 1rem;
      border-radius: $border-radius-sm;
      min-width: 12.5rem;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        transform: scale(0.95);
      }

      .avatars {
        display: flex;
        align-items: center;

        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          box-shadow: $box-shadow-light;

          &:nth-child(2) {
            margin-left: -1.75rem;
          }

          &:nth-child(3) {
            margin-left: -1.75rem;
          }
        }
      }

      .info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h4 {
          color: $primary-color;
          font-family: $font-primary;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.5rem;
        }

        p {
          color: $neutral-700;
          font-family: $font-primary;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.25rem;
        }
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .stats{
    position: relative;
    width: calc(100% - 40px);
    height: 30rem;
    margin: 20px;
    border-radius:  $border-radius-lg;
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .stats{
    position: relative;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius:  $border-radius-lg;
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .stats{
    position: relative;
    width: calc(100% - 50px);
    margin: 25px;
    border-radius:  $border-radius-lg;
  }
  
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
 
}