@use '../abstracts/' as *;

.featured-house {
  &__tabs {
    display: flex;
    gap: 2.5rem;
  }

  &__tab {
    @include button-default($background: $white, $padding: 0.875rem 1.5rem);
    border: 0.0625rem solid $neutral-300;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;

    img {
      @include avatar(1.5rem);
    }

    &--active {
      color: $secondary-color;
      background: $green-100;
    }

    &--inactive {
      background-color: $background-gray;
      color: $neutral-600;
    }
  }
}

/* Responsive */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .featured-house {
    &__tabs {
      gap: 30px;
    }

    &__tab {
      padding: 0.8rem 1.4rem;
      font-size: 1rem;
      line-height: 1.5rem;

      img {
        @include avatar(1.4rem);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .featured-house {
    &__tabs {
      gap: 20px;
    }

    &__tab {
      padding: 0.8rem 1.4rem;
      font-size: 1rem;
      line-height: 1.5rem;

      img {
        @include avatar(1.4rem);
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .featured-house {
    &__tabs {
      display: flex;
      gap: 20px;
    }

    &__tab {
      padding: 0.7rem 1.3rem;
      font-size: 0.9rem;
      line-height: 1.4rem;

      img {
        @include avatar(1.3rem);
      }
    }
  }
}

@media (max-width: 575.98px) {
  .featured-house {
    &__tabs {
      display: flex;
      gap: 20px;
    }

    &__tab {
      padding: 0.7rem 1.3rem;
      font-size: 0.9rem;
      line-height: 1.4rem;

      img {
        @include avatar(1.3rem);
      }
    }
  }
}
