@use '../../abstracts/' as *;


.featured-house {
  padding-left: 160px;
  max-width: 100%;
  margin: 140px auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    color: $primary-color;
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
}