@use "../../abstracts/" as *;

.find-more {
  margin: 80px 0 0 0;
  padding: 100px;
  background: $white;
  position: relative;
  
  &__background--1,
  &__background--2 {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 438px;
    height: 494px;
    transform: rotate(90deg);
    flex-shrink: 0;
    filter: blur(60px);
  }

  &__background--1 {
    top: 30px;
    left: 10px;
    fill: #82ffe8;
  }

  &__background--2 {
    top: 290px;
    left: 10px;
    fill: #C8FF82;
  }

  &__header {
    text-align: center;

    .find-more__see-tips {
      @include see-link($yellow-500, 500);
      text-align: center;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 2px;
        background: $yellow-500;
      }
    }

    .find-more__title {
      @include heading-title(32px, 600, normal, $primary-color);
      text-align: center;
      margin-bottom: 24px;
    }

    .find-more__btn {
      @include button-default($secondary-color, 12px 16px);
      margin-bottom: 40px;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        background: $green-700;
      }
    }
  }
}

/* Responsive */
@media (max-width: 575.98px) {
  .find-more {
    padding: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .find-more {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .find-more {
    padding: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .find-more {
    margin: 80px 0 0 0;
    padding: 40px;
    position: relative;

    &__header {
      text-align: center;

      .find-more__see-tips {
        font-size: 14px;
        margin-bottom: 12px;
      }

      .find-more__title {
        @include heading-title(30px, 600, normal, $primary-color);
        margin-bottom: 24px;
      }

      .find-more__btn {
        font-size: 14px;
        line-height: 22px;
        display: inline-flex;
        padding: 12px 16px;
        gap: 16px;
        margin-bottom: 40px;
      }
    }
  }
}
