@use "../../abstracts/" as *;

.let-tour {
  position: relative;
  max-width: 100%;
  padding: 0px 105px 130px 100px;
  display: flex;
  justify-content: space-between;

  &__background--1 {
    top: -245px;
    right: -190px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 438px;
    height: 494px;
    transform: rotate(90deg);
    flex-shrink: 0;
    fill: #ff9882;
    filter: blur(60px);
  }
  &__background--2 {
    top: -80px;
    right: -190px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 438px;
    height: 494px;
    transform: rotate(90deg);
    flex-shrink: 0;
    fill: #FFFA82;
    filter: blur(60px);
  }

  &__content {
    width: 480px;
    font-family: $font-primary;

    &--title {
      @include heading-title(32px, 600, normal, $primary-color);
      text-transform: capitalize;
    }
    &--desc {
      margin-top: 16px;
      @include description(16px, 28px, $neutral-600);
    }
  }

  &__detail {
    margin: 16px 0 30px;

    &-title {
      @include heading-title(16px, 600, 28px, $primary-color);
    }
    &-list {
      margin-top: 22px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 16px;
      flex: 0 0 calc(50% - 16px);

      @include author-text(16px, 28px);
      color: $neutral-700;
      text-transform: capitalize;
    }
  }
  &__images {
    position: relative;
  }

  &__play-btn {
    position: absolute;
    left: 220px;
    top: 185px;
    cursor: pointer;
  }

  &__main--image {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 60px;
  }

  &__thumbnails {
    position: absolute;
    bottom: -50px;
    left: -590px;
    z-index: 4;
  }
}


/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
  .let-tour__main--image {
    right: -15px;
  }
  .let-tour__thumbnails{
    left: -512px;
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .let-tour {
    flex-direction: column;
    padding: 0 90px 90px 90px;
    &__content{
      width: 100%;
    }
    &__images {
      position: relative;
    }  

    &__main--image {
      position: relative;
      width: 100%;
      // right: 0;
      right: 50%;
      transform: translatex(68%);
      
      img{
        width: 70%;
      }
    }
    &__play-btn {
      left: 36%;
      top: 50%;
    }

    &__thumbnails {
      bottom: -7%;
        left: 13%;

      .let-tour__thumbnail{
        // height: 25%;
      }
      .let-tour__thumbnail:first-child {
        height: 50%;
      }
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .let-tour {
    flex-direction: column;
    padding: 0 80px 40px 80px;
    &__content{
      width: 100%;

      &--title {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      &--desc {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }
  &__images {
    position: relative;
  }  

    &__main--image {
      position: relative;
      width: 100%;
      // right: 0;
      right: 50%;
      transform: translatex(68%);
      
      img{
        width: 70%;
      }
    }
    &__play-btn {
      left: 36%;
      top: 50%;
    }

     &__thumbnails {
      bottom: -7%;
        left: 13%;

      .let-tour__thumbnail{
        // height: 25%;
      }
      .let-tour__thumbnail:first-child {
        width: 40%;
      }
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .let-tour {
    flex-direction: column;
    padding: 0 60px 60px 60px;
    &__content{
      width: 100%;

      &--title {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      &--desc {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }

    &__detail {
    margin: 12px 0 15px;

      &-title {
        font-size: 14px;
        line-height: 24px;
      }
      &-list {
        margin-top: 0px;
        gap: 12px;
      }
      &-item {
        gap: 12px;
        font-size: 13px;
       
        span{
          font-size: 0.8rem;
          line-height: 1.5rem;
        }
      }
    }
  &__images {
    position: relative;
  }  

    &__main--image {
      position: relative;
      width: 100%;
      // right: 0;
      right: 50%;
      transform: translatex(68%);
      
      img{
        width: 70%;
      }
    }
    &__play-btn {
      left: 36%;
      top: 50%;
    }

    &__thumbnails {
      bottom: -7%;
        left: 13%;

      .let-tour__thumbnail{
        // height: 25%;
      }
      .let-tour__thumbnail:first-child {
        width: 40%;
      }
    }
    
  }
}


/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .let-tour {
    flex-direction: column;
    padding: 0 1.5rem 3rem 1.5rem;
    &__content{
      width: 100%;

      &--title {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      &--desc {
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }

    &__detail {
    margin: 12px 0 15px;

    &-title {
      font-size: 14px;
      line-height: 24px;
    }
    &-list {
      margin-top: 0px;
      gap: 12px;
    }
    &-item {
      gap: 12px;
      font-size: 13px;
     
      span{
         font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }
  }

  &__images {
    position: relative;
  }  

    &__main--image {
      position: relative;
      width: 100%;
      right: 0;
      img{
        width: 100%;
      }
    }
    &__play-btn {
      left: 43%;
      top: 46%;
    }

    &__thumbnails {
      bottom: -20px;
      left: 0px;
      display: none; 
      img{
      width: 50%;
    }
    }
    
  }
}
