@use "../../abstracts/" as *;

.subscribe {
  width: 100%;
  padding: 60px;

  &__container {
    background: url("../assets/images/subscribe-background.png") $neutral-100 50% / cover no-repeat;
    border-radius: $border-radius-sm;
    width: 100%;
    max-height: 312px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    padding: 65px 40px;
    text-align: center;
  }

  &__content {
    @include heading-title(32px, 600, 48px, $primary-color);
    text-transform: capitalize; // giữ lại nếu mixin không có
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  &__search {
    max-width: 496px;
    width: 100%;
    margin: 32px auto 0 auto;
  }

  &__img {
    border-radius: 24px;
    // border: 2px solid $white;
    position: absolute;

    &--1 {
      flex-shrink: 0;
      top: 45px;
      left: 173px;
    }
    &--2 {
      flex-shrink: 0;
      top: 173px;
      left: 35px;
    }
    &--3 {
      flex-shrink: 0;
      top: 38px;
      left: 44px;
    }
    &--4 {
      flex-shrink: 0;
      top: 216px;
      left: 178px;
    }
    &--5 {
      flex-shrink: 0;
      top: 81px;
      right: 58px;
    }
    &--6 {
      flex-shrink: 0;
      top: 140px;
      right: 172px;
    }
    &--7 {
      flex-shrink: 0;
      top: 197px;
      right: 73px;
    }
    &--8 {
      flex-shrink: 0;
      top: 44px;
      right: 200px;
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
  .subscribe {
    padding: 30px;

    &__container {
      max-height: 274px;
      padding: 20px 20px;
    }

    &__content {
      @include heading-title(26px, 600, 35px, $primary-color);
      text-transform: capitalize;
      width: 100%;
      margin: 0 auto;
    }
  }
  .subscribe__img {
    border-radius: 24px;
    display: none;
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .subscribe {
    padding: 40px;

    &__container {
      max-height: 274px;
      padding: 20px 20px;
    }

    &__content {
      @include heading-title(28px, 600, 40px, $primary-color);
      text-transform: capitalize;
      width: 100%;
      margin: 0 auto;
    }
  }
  .subscribe__img {
    border-radius: 24px;
    display: none;
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .subscribe {
    padding: 40px;

    &__container {
      max-height: 274px;
      padding: 20px 20px;
    }

    &__content {
      @include heading-title(30px, 600, 40px, $primary-color);
      text-transform: capitalize;
      width: 100%;
      margin: 0 auto;
    }
  }
  .subscribe__img {
    border-radius: 24px;
    display: none;
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .subscribe {
    &__container {
      max-height: 312px;
    }

    &__content {
      @include heading-title(30px, 600, 42px, $primary-color);
      text-transform: capitalize;
      width: 422px;
      margin: 0 auto;
    }
  }
  .subscribe__img {
    border-radius: 24px;

    &--1 {
      flex-shrink: 0;
      top: 45px;
      left: 173px;
    }
    &--2 {
      flex-shrink: 0;
      top: 142px;
      left: 19px;
    }
    &--3 {
      flex-shrink: 0;
      top: 38px;
      left: 44px;
      width: 65px;
    }
    &--4 {
      flex-shrink: 0;
      top: 243px;
      left: 103px;
    }
    &--5 {
      flex-shrink: 0;
      top: 101px;
      right: 58px;
    }
    &--6 {
      flex-shrink: 0;
      top: 140px;
      right: 172px;
    }
    &--7 {
      flex-shrink: 0;
      top: 239px;
      right: 73px;
    }
    &--8 {
      flex-shrink: 0;
      top: 19px;
      right: 130px;
      width: 64px;
    }
  }
}

/* Extra large - Desktop (≥1200px) */
@media (min-width: 1200px) {
  .subscribe {
    &__container {
      max-height: 312px;
    }
    &__content {
      @include heading-title(30px, 600, 42px, $primary-color);
      text-transform: capitalize;
      width: 422px;
      margin: 0 auto;
    }

    &__img {
      border-radius: 24px;
      // border: 2px solid $white;
      position: absolute;

      &--1 {
        flex-shrink: 0;
        top: 37px;
        left: 214px;
      }
      &--2 {
        flex-shrink: 0;
        top: 173px;
        left: 35px;
      }
      &--3 {
        flex-shrink: 0;
        top: 38px;
        left: 44px;
      }
      &--4 {
        flex-shrink: 0;
        top: 216px;
        left: 178px;
      }
      &--5 {
        flex-shrink: 0;
        top: 81px;
        right: 58px;
      }
      &--6 {
        flex-shrink: 0;
        top: 175px;
        right: 207px;
      }
      &--7 {
        flex-shrink: 0;
        top: 197px;
        right: 73px;
      }
      &--8 {
        flex-shrink: 0;
        top: 44px;
        right: 200px;
      }
    }
  }
}
