@use "../../abstracts/" as *;

.subscribe {
  margin: 0 auto;
  border-radius: $border-radius-sm;
  background: url("../assets/images/subscribe-background.png") $neutral-100 50% / cover no-repeat;

  width: 1200px;
  height: 312px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;

  &__content {
    width: 422px;
    margin: 0 auto;
    color: $primary-color;
    text-align: center;
    font-family: $font-primary;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
  }

  &__search {
    width: 496px;
    margin: 32px auto 0 auto;
  }

  &__img {
    border-radius: 24px;
    // border: 2px solid $white;
    position: absolute;

    &--1 {
      flex-shrink: 0;
      top: 45px;
      left: 173px;
    }
    &--2 {
      flex-shrink: 0;
      top: 173px;
      left: 35px;
    }
    &--3 {
      flex-shrink: 0;
      top: 38px;
      left: 44px;
    }
    &--4 {
      flex-shrink: 0;
      top: 216px;
      left: 178px;
    }
    &--5 {
      flex-shrink: 0;
      top: 81px;
      right: 58px;
    }
    &--6 {
      flex-shrink: 0;
      top: 140px;
      right: 172px;
    }
    &--7 {
      flex-shrink: 0;
      top: 197px;
      right: 73px;
    }
    &--8 {
      flex-shrink: 0;
      top: 44px;
      right: 200px;
    }
  }
}
