<div class="find-more__articles">
    <each loop="article in {{ articles }}">
        <div class="find-more__article-card{{ article.isLarge ? ' find-more__article-card--large' : '' }}">
            <img src="{{ article.img }}" class="find-more__article-img" alt="{{ article.title }}">
            <div class="find-more__article-content">
                <div class="find-more__article-author">
                    <img src="{{ article.avatar }}" class="find-more__article-author--img" alt="{{ article.author }}">
                    <p class="find-more__article__author--name">{{ article.author }}</p>
                </div>
                <p class="find-more__article-title">{{ article.title }}</p>
                <if condition="article.description">
                    <p class="find-more__article-author-title--text">{{ article.description }}</p>
                </if>
                <div class="find-more__article-time">
                    <img src="../assets/icons/time.svg" class="find-more__article-time--icon" alt="Time icon">
                    <p class="find-more__article-time--text">{{ article.time }}</p>
                </div>
            </div>
        </div>
    </each>
</div>