<section class="featured-house">
    <div class="featured-house__header">
        <h2>Featured House</h2>
        <div class="featured-house__tabs">
            <button class="featured-house__tab featured-house__tab--active">
                <img src="../assets/icons/house.svg" alt="House Icon">
                House
            </button>
            <button class="featured-house__tab featured-house__tab--inactive">
                <img src="../assets/icons/villa.svg" alt="Villa Icon">
                Villa
            </button>
            <button class="featured-house__tab featured-house__tab--inactive">
                <img src="../assets/icons/apartment.svg" alt="Apartment Icon">
                Apartment
            </button>
        </div>
        <div class="featured-house__nav-buttons">
            <button class="featured-house__nav-arrow featured-house__nav-arrow--left">
                <img src="../assets/icons/arrow-left.svg" alt="Left Arrow">
            </button>
            <button class="featured-house__nav-arrow featured-house__nav-arrow--right">
                <img src="../assets/icons/arrow-right.svg" alt="Right Arrow">
            </button>
        </div>
    </div>

    <div class="featured-house__cards">
        <div class="featured-house__card">
            <img src="../assets/images/featured-house-1.png" alt="Roselands House">
            <div class="featured-house__label featured-house__label--popular">Popular</div>
            <div class="featured-house__content">
                <h3>Roselands House</h3>
                <p class="featured-house__price">$35,000,000</p>
                <div class="featured-house__seller">
                    <img src="../assets/images/card-avatar-1.png" alt="Avatar">
                    <div class="featured-house__seller-info">
                        <p class="featured-house__seller-name">Dianne Russell</p>
                        <p class="featured-house__seller-location">Manchester, Kentucky</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-house__card">
            <img src="../assets/images/featured-house-2.png" alt="Woodlandside">
            <div class="featured-house__label featured-house__label--new">New</div>
            <div class="featured-house__content">
                <h3>Woodlandside</h3>
                <p class="featured-house__price">$20,000,000</p>
                <div class="featured-house__seller">
                    <img src="../assets/images/card-avatar-2.png" alt="Avatar">
                    <div class="featured-house__seller-info">
                        <p class="featured-house__seller-name">Robert Fox</p>
                        <p class="featured-house__seller-location">Dr. San Jose, South Dakota</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-house__card">
            <img src="../assets/images/featured-house-3.png" alt="The Old Lighthouse">
            <div class="featured-house__label featured-house__label--best-deals">Best Deals</div>
            <div class="featured-house__content">
                <h3>The Old Lighthouse</h3>
                <p class="featured-house__price">$44,000,000</p>
                <div class="featured-house__seller">
                    <img src="../assets/images/card-avatar-3.png" alt="Avatar">
                    <div class="featured-house__seller-info">
                        <p class="featured-house__seller-name">Ronald Richards</p>
                        <p class="featured-house__seller-location">Santa Ana, Illinois</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-house__card">
            <img src="../assets/images/featured-house-4.png" alt="Cosmo's House">
            <div class="featured-house__label featured-house__label--popular">Popular</div>
            <div class="featured-house__content">
                <h3>Cosmo's House</h3>
                <p class="featured-house__price">$22,000,000</p>
                <div class="featured-house__seller">
                    <img src="../assets/images/card-avatar-4.png" alt="Avatar">
                    <div class="featured-house__seller-info">
                        <p class="featured-house__seller-name">Jenny Wilson</p>
                        <p class="featured-house__seller-location">Preston Rd. Inglewood</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>