<section class="hero-section">
    <div class="hero-content">
        <div class="hero-left">
              <h1>
                Find The Place To Live
                <span class="highlight">Your Dreams</span> 
                Easily Here
        </h1>
          <p>Everything you will need about finding your place to live will be here, where it will be easier for you.</p>
          <include src="components/search-bar.html"></include>            
          <include src="components/partners.html"></include>
        </div>
        <include src="components/stats.html"></include>
    </div>
</section>




