<section class="hero-section">
    <div class="hero-content">
        <div class="hero-left">
          <h1>
              <!-- Find The Place To <br>
              Live <span class="highlight">Your</span> Dreams <br>
              Easily Here -->
              <h1>FIND THE PLACE TO LIVE<span class="highlight"> YOUR DREAMS</span> EASILY HERE</h1>

          </h1>
          <p>Everything you will need about finding your place to live will be here, where it will be easier for you.</p>
          <include src="components/search-bar.html"></include>            
          <include src="components/partners.html"></include>
        </div>
        <include src="components/stats.html"></include>
        
    </div>
</section>





 <!-- <div class="container">
   
    <div class="left">
      <h1>
        Find The Place To <br>
        Live <span class="highlight">Your</span> Dreams <br>
        Easily Here
      </h1>
      <p class="desc">
        Everything you need about finding your place to live will be here, where it will be easier for you
      </p>
      <div class="search-bar">
        <input type="text" placeholder="Search for the location you want!">
        <button>Search 🔍</button>
      </div>
      <p class="partners-title">Our Partnership</p>
      <div class="partners">
        <img src="logo1.png" alt="Partner1">
        <img src="logo2.png" alt="Partner2">
        <img src="logo3.png" alt="Partner3">
        <img src="logo4.png" alt="Partner4">
      </div>
    </div>

    <div class="right">
      <div class="image-placeholder">[ IMAGE: HOUSE HERE ]</div>
      <div class="card stats1">
        <img src="avatar1.png" alt="Avatar">
        <div>
          <strong>1K+ People</strong><br>
          Successfully Getting Home
        </div>
      </div>

      <div class="card stats2">
        <strong>56 Houses</strong><br>
        Sold Monthly
      </div>

      <div class="card stats3">
        <img src="avatar2.png" alt="Avatar">
        <div>
          <strong>4K+</strong><br>
          People Searching
        </div>
      </div>

    </div>
  </div> -->
