<each loop="review in {{ reviews }}">
  <div class="user-rw__review-card">
    <img src="{{ review.houseImg }}" class="user-rw__review-img" alt="{{ review.houseAlt }}"/>
    <div class="user-rw__review-content">
      <h3 class="user-rw__review-header">
        {{ review.title }}
      </h3>
      <p class="user-rw__review-text">
        {{ review.text }}
      </p>
      <div class="user-rw-review-author">
        <img src="{{ review.avatar }}" class="user-rw-review-author-img" alt="{{ review.name }}"/>
        <div class="user-rw-review-author-info">
          <h4 class="user-rw-review-author-name">{{ review.name }}</h4>
          <p class="user-rw-review-author-role">{{ review.role }}</p>
        </div>
        <div class="user-rw-review-author-rating">
          <img src="../assets/icons/star.svg" alt="Star rating" />
          {{ review.rating }}
        </div>
      </div>
    </div>
  </div>
</each>