<div class="stats">
    <div class="stat-cards">
        <each loop="item in stats">
            <div class="stat-card">
                <div class="avatars">
                <if condition="item.img1 && item.img2 && item.img3">
                    <img src="{{ item.img1 }}" alt="User 1">
                    <img src="{{ item.img2 }}" alt="User 2">
                    <img src="{{ item.img3 }}" alt="User 3">
                </if>
                <if condition="item.icon">
                    <img src="{{ item.icon }}" alt="{{ item.alt }}" class="icon">
                </if>
                </div>
                <div class="info">
                <h4>{{ item.title }}</h4>
                <p>{{ item.desc }}</p>
                </div>
            </div>
        </each>
    </div>
</div>
