<div class="stats">
    <div class="stat-cards">
        <div class="stat-card">
            <div class="avatars">
                <img src="..\assets\images\cart-avatar-1.svg" alt="User 1">
                <img src="..\assets\images\cart-avatar-2.svg" alt="User 2">
                <img src="..\assets\images\cart-avatar-3.svg" alt="User 3">
            </div>
            <div class="info">
                <h4>1K+ People</h4>
                <p>Successfully Getting Home</p>
            </div>
        </div>

        <div class="stat-card">
            <img src="..\assets\images\cart-house.png" alt="House icon" class="icon">
            <div class="info">
                <h4>56 Houses</h4>
                <p>Sold Monthly</p>
            </div>
        </div>

        <div class="stat-card">
            <img src="..\assets\images\cart-avatar-4.svg" alt="Search icon" class="icon">
            <div class="info">
                <h4>4K+</h4>
                <p>People Looking for New Homes</p>
            </div>
        </div>
    </div>
</div>
