@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$primary-color: #1B1C57;
$secondary-color: #10B981;
$neutral-100: #F0F3FD;
$neutral-300: #E0E3EB;
$neutral-500: #888B97;
$neutral-600: #626687;
$neutral-700: #68799F;
$neutral-800: #3c4563;
$neutral-900: #0E1735; 
$white: #FFF;
$background-light: #F0FAFD;
$background-gray: #F5F5F5;
$red-100: #FEE2E2;
$red-500: #EF4444;
$blue-100: #DBEAFE;
$blue-700: #1D4ED8;
$green-100: #D1FAE5;
$green-700: #047857;
$yellow-500: #f59e0b;

$font-primary: 'Lexend', sans-serif;

$border-radius-sm: 32px;
$border-radius-lg: 80px;

$transition-default: all 0.2s ease;
$box-shadow-light: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
$box-shadow-card: 0 4px 10px rgba(0, 0, 0, 0.1); 