<section class="find-more">
    <div class="find-more__background--1">
        <svg xmlns="http://www.w3.org/2000/svg" width="444" height="678" viewBox="0 0 444 678" fill="none">
        <g opacity="0.3" filter="url(#filter0_f_1_26)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M301.209 352.001C290.173 386.669 264.914 413.19 242.037 441.462C222.326 465.821 201.32 487.535 176.292 506.373C148.414 527.356 122.122 556.558 87.2732 557.946C52.3115 559.339 22.9507 533.407 -5.93251 513.634C-33.0888 495.044 -52.4251 469.427 -75.8344 446.286C-107.874 414.612 -163.167 396.642 -169.434 352.001C-175.493 308.845 -131.511 275.35 -104.647 241.061C-80.8375 210.671 -54.2616 183.755 -21.5624 163.262C12.0146 142.219 48.0816 115.019 87.2732 120.785C126.401 126.54 143.038 176.499 179.088 192.779C221.116 211.758 283.755 185.58 311.836 222.192C338.703 257.222 314.604 309.919 301.209 352.001Z" fill="#82FFE8"/>
        </g>
        <defs>
            <filter id="filter0_f_1_26" x="-290" y="0" width="734" height="678" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="60" result="effect1_foregroundBlur_1_26"/>
            </filter>
        </defs>
        </svg>
    </div>

    <div class="find-more__background--2">
        <svg xmlns="http://www.w3.org/2000/svg" width="472" height="678" viewBox="0 0 472 678" fill="none">
  <g opacity="0.3" filter="url(#filter0_f_1_28)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M329.209 352.001C318.173 386.669 292.914 413.19 270.037 441.462C250.326 465.821 229.32 487.535 204.292 506.373C176.414 527.356 150.122 556.558 115.273 557.946C80.3115 559.339 50.9507 533.407 22.0675 513.634C-5.08885 495.044 -24.4251 469.427 -47.8344 446.286C-79.8736 414.612 -135.167 396.642 -141.434 352.001C-147.493 308.845 -103.511 275.35 -76.6469 241.061C-52.8376 210.671 -26.2616 183.755 6.43753 163.262C40.0146 142.219 76.0816 115.019 115.273 120.785C154.401 126.54 171.038 176.499 207.088 192.779C249.116 211.758 311.755 185.58 339.836 222.192C366.703 257.222 342.604 309.919 329.209 352.001Z" fill="#C8FF82"/>
  </g>
  <defs>
    <filter id="filter0_f_1_28" x="-262" y="0" width="734" height="678" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feGaussianBlur stdDeviation="60" result="effect1_foregroundBlur_1_28"/>
    </filter>
  </defs>
</svg>
    </div>

    <div class="find-more__header">
         <p class="find-more__see-tips">See Tips Trick From Partnership</p>
         <h2 class="find-more__title">Find Out More About Selling And Buying Homes</h2>
         <a href="#" class="find-more__btn">More Article</a>
    </div>
    <include src="components/article-card.html" locals='{
    "articles": [
        {
            "img": "../assets/images/tips-articles-house-1.png",
            "avatar": "../assets/images/tips-articles-avatar-1.png",
            "author": "Dianne Russell",
            "title": "The things we need to check when we want to buy a house",
            "time": "4 min read | 25 Apr 2021"
        },
        {
            "img": "../assets/images/tips-articles-house-2.png",
            "avatar": "../assets/images/tips-articles-avatar-2.png",
            "author": "Courtney Henry",
            "title": "7 Ways to distinguish the quality of the house we want to buy",
            "time": "6 min read | 24 Apr 2021"
        },
        {
            "img": "../assets/images/tips-articles-house-3.png",
            "avatar": "../assets/images/tips-articles-avatar-3.png",
            "author": "Darlene Robertson",
            "title": "The best way to know the quality of the house we want to buy",
            "time": "2 min read | 24 Apr 2021"
        },
        {
            "img": "../assets/images/tips-articles-house-4.png",
            "avatar": "../assets/images/tips-articles-avatar-4.png",
            "author": "Cameron Williamson",
            "title": "12 Things to know before buying a house",
            "description": "Want to buy a house but are unsure about what we should know, here I will try to explain what we should know and check when we want to buy a house",
            "time": "8 min read | 25 Apr 2021",
            "isLarge": true
        }
    ]
}'></include>
</section>