<section class="hero-section">
  <include src="./components/nav.html" locals='{
    "navItems": [
      { "text": "About Us", "href": "#", "class": "nav__link" },
      { "text": "Article", "href": "#", "class": "nav__link" },
      { "text": "Property", "href": "#", "class": "nav__link" },
      { "text": "Sign Up!", "href": "#", "class": "nav__link", "liClass": "nav__item--signup" }
    ]
  }'>
  </include>

  <div class="hero-content">
    <div class="hero-content__background">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="444"
        height="678"
        viewBox="0 0 444 678"
        fill="none"
      >
        <g opacity="0.3" filter="url(#filter0_f_1_26)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M301.209 352.001C290.173 386.669 264.914 413.19 242.037 441.462C222.326 465.821 201.32 487.535 176.292 506.373C148.414 527.356 122.122 556.558 87.2732 557.946C52.3115 559.339 22.9507 533.407 -5.93251 513.634C-33.0888 495.044 -52.4251 469.427 -75.8344 446.286C-107.874 414.612 -163.167 396.642 -169.434 352.001C-175.493 308.845 -131.511 275.35 -104.647 241.061C-80.8375 210.671 -54.2616 183.755 -21.5624 163.262C12.0146 142.219 48.0816 115.019 87.2732 120.785C126.401 126.54 143.038 176.499 179.088 192.779C221.116 211.758 283.755 185.58 311.836 222.192C338.703 257.222 314.604 309.919 301.209 352.001Z"
            fill="#82FFE8"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_1_26"
            x="-290"
            y="0"
            width="734"
            height="678"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="60"
              result="effect1_foregroundBlur_1_26"
            />
          </filter>
        </defs>
      </svg>
    </div>
    
    <div class="hero-left">
      <h1>
        Find The Place To Live <span class="highlight">Your Dreams</span> Easily
        Here
      </h1>
      <p>
        Everything you will need about finding your place to live will be here,
        where it will be easier for you.
      </p>
      <include
        src="components/search-bar.html"
        locals='{
        "searchBars": [
          {
            "img1": "../assets/icons/location.svg",
            "placeholder": "Search for the location you want!",
            "text": "Search",
            "img2": "../assets/icons/arrow-right.svg"
          }
        ]
      }'
      ></include>

      <include
        src="components/partners.html"
        locals='{
         "list": [
          {
            "text": "Our Partnership",
            "img1": "../assets/images/logo-traveloka.png",
            "img2": "../assets/images/logo-tiket.png",
            "img3": "../assets/images/logo-airbnb.png",
            "img4": "../assets/images/logo-tripadvisor.png"
          }
        ]
      }'
      ></include>
    </div>

    <include
      src="components/stats.html"
      locals='{
      "stats": [
        {
          "img1": "../assets/images/card-avatar-1.png",
          "img2": "../assets/images/card-avatar-2.png",
          "img3": "../assets/images/card-avatar-3.png",
          "title": "1K+ People",
          "desc": "Successfully Getting Home"
        },
        {
          "icon": "../assets/images/card-house.png",
          "alt": "House icon",
          "title": "56 Houses",
          "desc": "Sold Monthly"
        },
        {
          "icon": "../assets/images/card-avatar-4.png",
          "alt": "Search icon",
          "title": "4K+",
          "desc": "People Looking for New Homes"
        }
      ]
    }'
    ></include>
  </div>
</section>
