<section class="let-tour">
  <div class="let-tour__background--1">
    <svg xmlns="http://www.w3.org/2000/svg" width="520" height="678" viewBox="0 0 520 678" fill="none">
      <g opacity="0.3" filter="url(#filter0_f_1_25)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M591.209 352.001C580.173 386.669 554.914 413.19 532.037 441.462C512.326 465.821 491.32 487.535 466.292 506.373C438.414 527.356 412.122 556.558 377.273 557.946C342.311 559.339 312.951 533.407 284.067 513.634C256.911 495.044 237.575 469.427 214.166 446.286C182.126 414.612 126.833 396.642 120.566 352.001C114.507 308.845 158.489 275.35 185.353 241.061C209.162 210.671 235.738 183.755 268.438 163.262C302.015 142.219 338.082 115.019 377.273 120.785C416.401 126.54 433.038 176.499 469.088 192.779C511.116 211.758 573.755 185.58 601.836 222.192C628.703 257.222 604.604 309.919 591.209 352.001Z" fill="#FF9882"/>
      </g>
      <defs>
        <filter id="filter0_f_1_25" x="0" y="0" width="734" height="678" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="60" result="effect1_foregroundBlur_1_25"/>
        </filter>
      </defs>
    </svg>
  </div>

  <div class="let-tour__background--2">
    <svg xmlns="http://www.w3.org/2000/svg" width="461" height="678" viewBox="0 0 461 678" fill="none">
  <g opacity="0.3" filter="url(#filter0_f_1_27)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M591.209 352.001C580.173 386.669 554.914 413.19 532.037 441.462C512.326 465.821 491.32 487.535 466.292 506.373C438.414 527.356 412.122 556.558 377.273 557.946C342.311 559.339 312.951 533.407 284.067 513.634C256.911 495.044 237.575 469.427 214.166 446.286C182.126 414.612 126.833 396.642 120.566 352.001C114.507 308.845 158.489 275.35 185.353 241.061C209.162 210.671 235.738 183.755 268.438 163.262C302.015 142.219 338.082 115.019 377.273 120.785C416.401 126.54 433.038 176.499 469.088 192.779C511.116 211.758 573.755 185.58 601.836 222.192C628.703 257.222 604.604 309.919 591.209 352.001Z" fill="#FFFA82"/>
  </g>
  <defs>
    <filter id="filter0_f_1_27" x="0" y="0" width="734" height="678" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feGaussianBlur stdDeviation="60" result="effect1_foregroundBlur_1_27"/>
    </filter>
  </defs>
</svg>
  </div>

  <div class="let-tour__content">
    <h1 class="let-tour__content--title">Let’s tour and see our house!</h1>
    <p class="let-tour__content--desc">
      Houses recommended by our partners that have been curated to become the
      home of your dreams!
    </p>

    <div class="let-tour__detail">
      <h3 class="let-tour__detail-title">House Detail</h3>
      <ul class="let-tour__detail-list">
        <each loop="item in {{ detail }}">
            <li class="let-tour__detail-item">
                <img src="{{ item.img }}" alt="" />
                <span>{{ item.text }}</span>
            </li>
        </each>
      </ul>
    </div>

    <include src="./components/contact.html" locals='{
    "contact": {
        "imgSrc": "../assets/images/tour-avatar-1.svg",
        "imgAlt": "Dianne Russell",
        "name": "Dianne Russell",
        "role": "Manager Director",
        "btnImgSrc": "../assets/icons/call.svg",
        "btnImgAlt": "Call Icon",
        "btnText": "Contact Now",
        "class": "let-tour__contact"
    }
    }'>
  </div>

  <div class="let-tour__images">
    <div class="let-tour__main--image">
      <img
        src="..\assets\images\tour-house.png" class="let-tour__main-image-src" alt=""
      />
      <div class="let-tour__play-btn">
        <img src="..\assets\icons\play.svg" alt="" />
      </div>
    </div>

    <div class="let-tour__thumbnails">
        <each loop="item in {{ imgItems }}">
            <img src="{{ item.img }}" alt="" class="let-tour__thumbnail"/>
        </each>
    </div>

  </div>
</section>
