<section class="user-rw">
  <div class="user-rw__header">
    <p class="user-rw__header-see">See Our Review</p>
    <h2 class="user-rw__header-tittle">What Our User Say About Us</h2>
  </div>
  <div class="user-rw__reviews">
    <include src="components/reviewItem.html" locals='{
        "reviews": [
            {
            "houseImg": "../assets/images/reviews-house-1.png",
            "houseAlt": "House 1",
            "title": "My house sold out fast!",
            "text": "I was finally able to sell my house quickly through Hounter by immediately setting me up with people who wanted my house. I also do not get a discount from the sale of my house. Awesome!",
            "avatar": "../assets/images/card-avatar-1.png",
            "name": "Robert Fox",
            "role": "Manager Director",
            "rating": "4.3"
            },
            {
            "houseImg": "../assets/images/reviews-house-2.png",
            "houseAlt": "House 2",
            "title": "Best! I got the house I wanted through Hounter",
            "text": "Through this website I can get a house with the type and specifications I want very easily, without a complicated process to be able to find information on the house we want.",
            "avatar": "../assets/images/card-avatar-3.png",
            "name": "Dianne Russell",
            "role": "Manager Director",
            "rating": "4.6"
            },
            {
            "houseImg": "../assets/images/reviews-house-3.png",
            "houseAlt": "House 1",
            "title": "Through the Hounter, I can get a house for my self",
            "text": "By looking for information about what kind of house we want, we managed to get the house we wanted very quickly, and directly connected with the seller to be able to ask about the details, very helpful!",
            "avatar": "../assets/images/card-avatar-2.png",
            "name": "Esther Howard",
            "role": "Head of Marketing",
            "rating": "4.3"
            }
        ]
    }'></include>
  </div>
  <div class="user-rw__pagination">
    <img src="../assets/icons/Pagination.svg" alt="" />
  </div>
</section>
