@use "../abstracts/" as *;

.footer {
  padding: 120px;
  background: $white;
  position: relative;
  // overflow: hidden;

  &__background--1 {
    top: -130px;
    right: -130px;

    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 438px;
    height: 494px;
    transform: rotate(90deg);
    flex-shrink: 0;
    fill: #82bbff;
    // opacity: 0.3;
    filter: blur(60px);
  }
  &__background--2 {
    top: -160px;
    right: 90px;

    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 438px;
    height: 494px;
    transform: rotate(90deg);
    flex-shrink: 0;
    fill: #b9ff82;
    // opacity: 0.3;
    filter: blur(60px);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 95px;
  }

  &__section {
    z-index: 3;
    h3 {
      color: $neutral-900;
      font-family: $font-primary;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      padding-bottom: 24px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;

        a {
          text-decoration: none;
          color: $neutral-500;
          font-family: $font-primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    p {
      width: 320px;
      margin-bottom: 18px;
      color: $neutral-500;
      font-family: $font-primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 22px;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }

      h2 {
        font-size: 20px;
        color: $primary-color;
        font-family: $font-primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    .socials {
      margin-top: 15px;

      a {
        margin-right: 10px;
        color: $neutral-600;
        font-size: 18px;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

/* Extra small - Điện thoại nhỏ (<576px) */
@media (max-width: 575.98px) {
   .footer {
    padding: 60px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      gap: 50px;
    }

    &__section {
      z-index: 3;
      h3 {
        font-size: 18px;
        padding-bottom: 24px;
      }

      ul {
        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            font-style: normal;
          }
        }
      }

      p {
        margin-bottom: 18px;
        font-size: 14px;
      }

      .logo {
        gap: 10px;
        margin-bottom: 22px;

        img {
          width: 30px;
          height: 30px;
        }

        h2 {
          font-size: 20px;
          font-size: 16px;
        }
      }

      .socials {
        margin-top: 15px;

        a {
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

/* Small - Điện thoại lớn (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    padding: 60px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      gap: 50px;
    }

    &__section {
      z-index: 3;
      h3 {
        font-size: 18px;
        padding-bottom: 24px;
      }

      ul {
        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            font-style: normal;
          }
        }
      }

      p {
        width: 80%;
        margin-bottom: 18px;
        font-size: 14px;
      }

      .logo {
        gap: 10px;
        margin-bottom: 22px;

        img {
          width: 30px;
          height: 30px;
        }

        h2 {
          font-size: 20px;
          font-size: 16px;
        }
      }

      .socials {
        margin-top: 15px;

        a {
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

/* Medium - Máy tính bảng (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding: 60px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      gap: 50px;
    }

    &__section {
      z-index: 3;
      h3 {
        font-size: 18px;
        padding-bottom: 24px;
      }

      ul {
        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            font-style: normal;
          }
        }
      }

      p {
        width: 80%;
        margin-bottom: 18px;
        font-size: 14px;
      }

      .logo {
        gap: 10px;
        margin-bottom: 22px;

        img {
          width: 30px;
          height: 30px;
        }

        h2 {
          font-size: 20px;
          font-size: 16px;
        }
      }

      .socials {
        margin-top: 15px;

        a {
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }
}

/* Large - Laptop (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
  .footer {
    padding: 60px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      gap: 95px;
    }

    &__section {
      z-index: 3;
      h3 {
        font-size: 18px;
        padding-bottom: 24px;
      }

      ul {
        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            font-style: normal;
          }
        }
      }

      p {
        margin-bottom: 18px;
        font-size: 14px;
      }

      .logo {
        gap: 10px;
        margin-bottom: 22px;

        img {
          width: 30px;
          height: 30px;
        }

        h2 {
          font-size: 20px;
          font-size: 16px;
        }
      }

      .socials {
        margin-top: 15px;

        a {
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
  }
}
