<footer class="footer">
  <div class="footer__container">
    <div class="footer__section footer__about">
      <div class="logo">
        <img src="..\assets\icons\logo.svg" alt="Hounter Logo" />
        <h2>Hounter</h2>
      </div>
      <p>
        We provide information about properties such as houses, villas and apartments to help people find their dream home
      </p>
      <div class="socials">
        <a href="#"><img src="..\assets\icons\facebook.svg" alt=""></a>
        <a href="#"><img src="..\assets\icons\twitter.svg" alt=""></a>
        <a href="#"><img src="..\assets\icons\instagram.svg" alt=""></a>
      </div>
    </div>

    <div class="footer__section">
      <h3>Property</h3>
      <ul>
        <li><a href="#">House</a></li>
        <li><a href="#">Apartment</a></li>
        <li><a href="#">Villa</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h3>Article</h3>
      <ul>
        <li><a href="#">New Article</a></li>
        <li><a href="#">Popular Article</a></li>
        <li><a href="#">Most Read</a></li>
        <li><a href="#">Tips & Tricks</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h3>Contact</h3>
      <p>2464 Royal Ln. Mesa, New Jersey 45463</p>
      <p>(671) 555-0110</p>
      <p>info@hounter.com</p>
    </div>
  </div>
</footer>