<header class="header">
  <div class="logo">
    <img src="..\assets\icons\logo.svg" alt="Hounter Logo" />
    <p>Hounter</p>
  </div>
  <include src="./components/nav.html" locals='{
    "navItems": [
      { "text": "About Us", "href": "#", "class": "nav__link" },
      { "text": "Article", "href": "#", "class": "nav__link" },
      { "text": "Property", "href": "#", "class": "nav__link" },
      { "text": "Sign Up!", "href": "#", "class": "nav__link", "liClass": "nav__item--signup" }
    ]
  }'>
  </include>
</header>