
 <!-- Include Feature-house section -->
<include src="./layout/components/featured-houses.html"></include>
 <!-- Include Let-tour section -->
<include src="./layout/components/let-tour.html" locals='{
    "detail": [
        {"img": "../assets/icons/bed.svg", "text": "4 Bedrooms"},
        {"img": "../assets/icons/bath.svg", "text": "2 Bathrooms"},
        {"img": "../assets/icons/car-garage.svg", "text": "1 Carport"},
        {"img": "../assets/icons/stairs.svg", "text": "2 Floors"}
    ],
    "imgItems": [
        {"img": "../assets/images/tour-chart.png"},
        {"img": "../assets/images/tour-chart-1.png"},
        {"img": "../assets/images/tour-decor.png"}
    ]
}'></include>

<!-- Include User-review section -->
 <include src="./layout/components/user-review.html"></include>
<!-- Include Find more section -->
  <include src="./layout/components/find-more.html"></include>
<!-- Include subcribe -->
  <include src="./layout/components/subcribe.html" locals='{
    "images": [
      { "img":"../assets/images/subscribe-avatar-1.png","class":"subscribe__img--1" },
      { "img":"../assets/images/subscribe-avatar-2.png","class":"subscribe__img--2" },
      { "img":"../assets/images/subscribe-chair-1.png","class":"subscribe__img--3" },
      { "img":"../assets/images/subscribe-house-1.png","class":"subscribe__img--4" },
      { "img":"../assets/images/subscribe-avatar-3.png","class":"subscribe__img--5" },
      { "img":"../assets/images/subscribe-avatar-4.png","class":"subscribe__img--6" },
      { "img":"../assets/images/subscribe-chair-2.png","class":"subscribe__img--7" },
      { "img":"../assets/images/subscribe-house-2.png","class":"subscribe__img--8" }
    ]
  }'></include>